<div class="content" *ngIf="loaded; else loading">
  <div class="select-list">
    <wowhead-icon
        *ngFor="let c of classes"
        [class.active]="selectedClass == c"
        [class.disabled]="!hasTree(c)"
        [icon]="c.icon"
        [alt]="c.name"
        (click)="selectClass(c)"
      ></wowhead-icon>
  </div>

  <div
      class="select-list"
      *ngIf="selectedClass != null">
    <wowhead-icon
        *ngFor="let spec of specsFor(selectedClass)"
        [class.active]="selectedSpec?.id == spec.id"
        [class.disabled]="!hasTree(spec)"
        [icon]="spec.icon"
        [alt]="spec.name"
        (click)="selectSpec(spec)"
      ></wowhead-icon>
  </div>

  <talent-tree
      *ngIf="selectedTree() != null"
      [tree]="selectedTree()!"
      [class]="selectedClass!"
      [spec]="selectedSpec!"
    ></talent-tree>
</div>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>
