:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

talent-tree {
  flex-grow: 1;
}

.select-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 960px;
  gap: 4px;

  margin-bottom: 1em;
}

wowhead-icon {
  width: 32px;
  height: 32px;

  cursor: pointer;

  border-radius: 4px;
}

wowhead-icon.active {
  border: 2px solid orange;
}
