<div class="header">
  <h2 class="name" [style.color]="class_.color">
    {{ spec.name === class_.name ? '' : spec.name }} {{ class_.name }}
  </h2>

  <p class="points">
    {{ solver.usedPoints() }} / {{ maxPoints }}
  </p>
</div>

<div
    class="tree"
    [style.gridTemplateColumns]="columns"
    [style.gridTemplateRows]="rows">
  <talent
      *ngFor="let talentCell of tree.talents | keyvalue"
      [talentId]="+talentCell.key"
      [talent]="talentCell.value"
      [solver]="solver"

      (talentClick)="onTalentClick(+talentCell.key)"
      (talentClear)="onTalentRightClick(+talentCell.key)"

      [style.gridColumnStart]="gridColumn(+talentCell.key)"
      [style.gridColumnEnd]="gridColumn(+talentCell.key) + 2"
      [style.gridRow]="gridRow(+talentCell.key)"
      >
  </talent>

  <ng-container *ngIf="showConnections">
    <connection
        *ngFor="let connection of connections(); trackBy: trackByIndex"
        [from]="getElement(connection[0])"
        [to]="getElement(connection[1])"
        ></connection>
  </ng-container>
</div>
