.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;

  gap: 12px;

  margin-bottom: 10px;
}

.header * {
  margin: 0;
  font-weight: normal;
}

.header .points {
  font-size: 24px;
}

.tree {
  display: grid;

  align-items: center;
  justify-items: center;
}

.tree talent {
  margin: 20%;
}

connection {
  z-index: -1;
}
