<div
    class="root {{talentType}}-talent"
    [class.active]="solver.isActive(talentId)"
    [class.selected]="solver.isSelected(talentId)"
  >
  <div *ngFor="let spell of spellChoices(); let i = index"
      class="background-image image-{{i}}-of-{{ spellChoices().length }}"
      [style.backgroundImage]="getBackgroundImage(spell)">
    <a
        class="tooltip-anchor"
        href="https://www.wowhead.com/beta/spell={{ spell.spell }}"
        (click)="$event.preventDefault(); selectSpell(i)"
        (contextmenu)="$event.preventDefault(); clearSpell(i)"
      ></a>
  </div>
</div>

<pre *ngIf="showIdOverlay">{{ talentId }}</pre>

<img
    class="unreachable-overlay"
    *ngIf="!solver.isReachable(talentId)"
    src="/assets/red_x.png" />

<p class="allocated-points">
  {{ solver.allocated(talentId)[0] }}/{{ solver.allocated(talentId)[1] }}
</p>

