<div
    class="background-image"
    [class.active]="solver.isActive(talentId)"
    [class.selected]="solver.isSelected(talentId)"
    [style.backgroundImage]="backgroundImage"
  >
</div>

<pre *ngIf="showIdOverlay">{{ talentId }}</pre>

<img
    class="unreachable-overlay"
    *ngIf="!solver.isReachable(talentId)"
    src="/assets/red_x.png" />

<p class="allocated-points">
  {{ solver.allocated(talentId)[0] }}/{{ solver.allocated(talentId)[1] }}
</p>

<a class="tooltip-anchor" attr.data-wowhead="spell={{ spell.spell }}"></a>
