.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;

  gap: 12px;

  margin-bottom: 10px;
}

.header * {
  margin: 0;
  font-weight: normal;
}

.header .points {
  font-size: 24px;
}

.tree {
  display: grid;

  align-items: center;
  justify-items: center;
}

.tree talent {
  margin: 20%;
}

connection {
  z-index: -1;
}

.checkpoint {
  display: flex;
  align-items: center;
  position: relative;

  border: 1px dashed darkgreen;
  width: 100%;

  grid-column-start: 1;

  z-index: -2;
}

.checkpoint .required {
  position: absolute;
  left: calc(100% + 10px);
  margin: 0;
  font-size: 18px;
}
