@import '~normalize.css';

@font-face {
  font-family: LifeCraft;
  src: url("/assets/lifecraft/LifeCraft_Font.ttf")
}

* {
  box-sizing: border-box;
}

app-root {
  font-family: LifeCraft, Verdata, "Open Sans", Sans;
  font-weight: normal;

  color: #ccc;
}

app-root h1 {
  font-weight: normal;
}

body {
  background-color: #333;
  padding: 1em;
}
